body {
    background-color: #566874;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.barometer {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.foreground { fill: #77C6FF; }
.background { fill: #5F707B; }